* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/*c-variables*/
@font-face {
  font-family: "letter-tittles";
  src: url(../assets/fonts/MontserratAlternates-ExtraBold.ttf); }

@font-face {
  font-family: "letter-parraf";
  src: url(../assets/fonts/Montserrat-Light.ttf); }

/*t-variables*/
body {
  background-image: url(../assets/imagenes/sky.jpg);
  background-size: contain; }

/*c-header*/
header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: #c1fb15 1px solid;
  border-radius: 60px;
  width: 90%;
  margin: 50px auto; }
  header nav .navi {
    padding: 10px;
    margin: 10px auto;
    border: white 1px solid; }
    header nav .navi p {
      color: white;
      font-family: "letter-tittles"; }

/*t-header*/
/*c-titulos*/
.titulo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
  margin: 20px auto;
  border: rgba(255, 255, 255, 0.332) solid 1px;
  border-radius: 60px; }
  .titulo .tit {
    display: flex;
    align-items: center;
    width: auto;
    margin: 20px auto;
    text-align: center; }
    .titulo .tit img {
      height: 100px; }
    .titulo .tit h1 {
      font-family: "letter-tittles";
      font-size: 2rem;
      color: white; }

.animate__animated.animate__fadeOutRightBig {
  --animate-duration: 20s;
  --animate-delay: 3s;
  --animation-repeat:infinite; }

.animate__animated.animate__fadeOutLeftBig {
  --animate-duration: 20s;
  --animate-delay: 3s;
  --animate-repeat: infinite; }

/*c-titulos*/
/*c-titulos-adults*/
.img_padres h1 {
  color: white;
  font-size: 1rem; }

.img_padres .kidspace img {
  border-radius: 50%;
  width: 100px; }

/*t-titulos-adults*/
/*c-body-index*/
.principal {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 90%;
  border: 4px solid #c1fb15;
  border-radius: 60px; }
  .principal .select {
    text-align: center;
    margin: 20px auto;
    width: 90%; }
    .principal .select .linkk {
      margin: 20px auto; }
      .principal .select .linkk a {
        text-decoration: none;
        color: black;
        font-size: 1.7rem;
        padding: 10px auto; }
        .principal .select .linkk a h2 {
          text-align: center;
          width: auto;
          font-family: "letter-tittles";
          background-color: #c1fb15;
          border-radius: 50px;
          margin: 50px; }
        .principal .select .linkk a :hover {
          color: #c1fb15;
          background-color: black; }
        .principal .select .linkk a .imgg img {
          width: 85%;
          opacity: 0.8;
          border-radius: 50%; }
        .principal .select .linkk a .imgg :hover {
          width: 95%;
          opacity: 1;
          transform: rotateZ(360deg);
          transition: 2s; }

@media screen and (min-width: 500px) {
  .principal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "one two" "three four"; }
  .one {
    grid-area: "one"; }
  .two {
    grid-area: "two"; }
  .three {
    grid-area: "three"; }
  .four {
    grid-area: "four"; } }

@media screen and (min-width: 800px) {
  .principal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "one two three four"; }
  .one {
    grid-area: "one"; }
  .two {
    grid-area: "two"; }
  .three {
    grid-area: "three"; }
  .four {
    grid-area: "four"; }
  .principal h2 {
    font-size: 1.5rem; } }

/*t-body-index*/
/*c-body-chicos*/
.kkk {
  border: 4px solid #c1fb15;
  border-radius: 60px;
  width: 90%;
  margin: 20px auto; }
  .kkk .ktit {
    width: 90%;
    margin: 20px auto;
    text-align: center;
    font-size: large;
    color: #c1fb15;
    font-family: "letter-tittles"; }
  .kkk .gridi {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center; }
    .kkk .gridi .leccion {
      width: 90%;
      display: flex;
      flex-direction: column;
      background-color: white;
      text-align: center;
      margin: 30px auto;
      padding-top: 0px;
      border-top-left-radius: 60px;
      border-top-right-radius: 60px; }
      .kkk .gridi .leccion .link-kids {
        margin: 0px auto;
        width: 100%; }
        .kkk .gridi .leccion .link-kids a {
          text-decoration: none;
          margin-top: 0px;
          padding: 0px auto; }
          .kkk .gridi .leccion .link-kids a .chicos-img img {
            width: 100%;
            padding: 0%;
            margin: 0%;
            border-top-left-radius: 40px;
            border-top-right-radius: 40px; }
          .kkk .gridi .leccion .link-kids a .chicos-img :hover {
            border-bottom: solid 18px #c1fb15; }
          .kkk .gridi .leccion .link-kids a h3 {
            width: 80%;
            color: black;
            font-family: "letter-tittles";
            margin: 10px auto; }
      .kkk .gridi .leccion p {
        width: 80%;
        color: black;
        font-family: "letter-parraf";
        font-size: 1rem;
        margin: 20px auto; }

@media screen and (min-width: 500px) {
  .kkk .gridi {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "onekid twokid" "threekid fourkid"; }
  .kkk .onekid {
    grid-area: "onekid"; }
  .kkk .twokid {
    grid-area: "twokid"; }
  .kkk .threekid {
    grid-area: "threekid"; }
  .kkk .fourkid {
    grid-area: "fourkid"; } }

@media screen and (min-width: 800px) {
  .kkk .gridi {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "onekid twokid threekid fourkid"; }
  .kkk .onekid {
    grid-area: "onekid"; }
  .kkk .twokid {
    grid-area: "twokid"; }
  .kkk .threekid {
    grid-area: "threekid"; }
  .kkk .fourkid {
    grid-area: "fourkid"; } }

/*t-body-chicos*/
/*c-body-padres*/
.quien {
  width: 90%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  border: 3px solid #c1fb15; }
  .quien .hhh {
    text-align: center; }
    .quien .hhh h2 {
      color: #c1fb15;
      font-family: "letter-tittles";
      font-size: 3rem; }
  .quien .qadult {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 50px auto;
    padding: 20px auto; }
    .quien .qadult .qimgadult {
      width: 47%;
      margin: 50px auto;
      padding: 20px auto; }
      .quien .qadult .qimgadult img {
        width: 100%;
        border-radius: 50%; }
    .quien .qadult .qparr {
      width: 47%;
      text-align: justify;
      color: #c1fb15;
      font-family: "letter-parraf";
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 50px auto;
      padding: 20px auto; }
      .quien .qadult .qparr p {
        width: 80%;
        font-size: large;
        display: flex;
        flex-direction: row;
        justify-items: center;
        margin: 50px auto;
        padding: 50px auto; }

.mainadult {
  width: 90%;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  padding: 20px auto;
  border-radius: 60px; }
  .mainadult .titmadult h2 {
    text-align: center;
    color: black;
    font-family: "letter-tittles";
    font-size: 3rem;
    margin: 50px auto;
    padding: 20px auto; }
  .mainadult .benef .adult {
    width: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    padding: 20px auto;
    border: black 1px solid;
    border-radius: 60px; }
    .mainadult .benef .adult .imgadult {
      width: 90%;
      margin: 50px auto;
      padding: 20px auto;
      text-align: center; }
      .mainadult .benef .adult .imgadult img {
        width: 70%;
        border-radius: 50%;
        border: solid 6px #c1fb15; }
    .mainadult .benef .adult .parr {
      width: 90%;
      margin: 50px auto;
      padding: 20px auto;
      border-top: solid black 1px; }
      .mainadult .benef .adult .parr p {
        font-family: "letter-parraf";
        font-size: large;
        text-align: center;
        margin: 50px auto;
        padding: 20px auto; }

/*tablet*/
@media screen and (min-width: 800px) {
  .mainadult .benef {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "ta te" "ti to"; }
  .mainadult .ta {
    grid-area: "ta"; }
  .mainadult .te {
    grid-area: "te"; }
  .mainadult .ti {
    grid-area: "ti"; }
  .mainadult .to {
    grid-area: "to"; }
  .quien .qadult .qparr p {
    width: 80%;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin: 50px auto;
    padding: 50px auto; } }

/*t-body-padres*/
/*c-footer*/
.foot {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
  margin: 20px auto;
  border: 1px solid greenyellow;
  border-radius: 60px; }
  .foot .red a img {
    width: 25px; }

/*t-footer*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/*c-variables*/
@font-face {
  font-family: "letter-tittles";
  src: url(../assets/fonts/MontserratAlternates-ExtraBold.ttf); }

@font-face {
  font-family: "letter-parraf";
  src: url(../assets/fonts/Montserrat-Light.ttf); }

/*t-variables*/
body {
  background-image: url(../assets/imagenes/sky.jpg);
  background-size: contain; }
