/*c-body-index*/
.principal{
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    width: 90%;
    border: 4px solid $color-border;
    border-radius: 60px;
    .select{
        text-align: center;
        margin: 20px auto;
        width: 90%;
        .linkk{
            margin: 20px auto;
            width: 100%;
            a{
                text-decoration: none;
                color: black;
                font-size: small;
                padding: 10px auto;
                h2{
                    text-align: center;
                    width: auto;
                    font-family: "letter-tittles";
                    background-color: $color-border;
                    border-radius: 50px;
                    margin: 50px auto;
                }
                & :hover{
                    color: $color-border;
                    background-color: black;
                }
                .imgg{
                    img{
                        width: 85%;
                        opacity: 0.8;
                        border-radius: 50%;
                    }
                    & :hover{
                        width: 95%;
                        opacity: 1;
                        transform: rotateZ(360deg);transition: 2s
                    }
                }
            }
        }
    }
}
@media screen and (min-width:500px){
    .principal{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "one two"
        "three four";
    }
    .one{
        grid-area: "one";
    }
    .two{
        grid-area: "two";
    }
    .three{
        grid-area: "three";
    }   
    .four{
        grid-area: "four";
    }
}
@media screen and (min-width:800px){
    .principal{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "one two three four";
    }
    .one{
        grid-area: "one";
    }
    .two{
        grid-area: "two";
    }
    .three{
        grid-area: "three";
    }   
    .four{
        grid-area: "four";
    }
    .principal{
        h2{
            font-size: 1.5rem;
        }
    }
}
/*t-body-index*/
/*c-body-chicos*/
.kkk{
    border: 4px solid $color-border;
    border-radius: 60px;
    width: 90%;
    margin: 20px auto;
    .ktit{
        width: 90%;
        margin: 20px auto;
        text-align: center;
        font-size: large;
        color: $color-border;
        font-family: "letter-tittles";
    }
    .gridi{
        width: 90%;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        .leccion{
            width: 90%;
            display: flex;
            flex-direction: column;
            background-color: $bg-grid-kids;
            text-align: center;
            margin: 30px auto;
            padding-top: 0px;
            border-top-left-radius: 60px;
            border-top-right-radius: 60px;
            .link-kids{
                margin: 0px auto;
                width: 100%;
                a{
                    text-decoration: none;
                    margin-top: 0px;
                    padding: 0px auto;
                    .chicos-img{
                        img{
                            width: 100%;
                            padding: 0%;
                            margin: 0%;
                            border-top-left-radius: 40px;
                            border-top-right-radius: 40px;
                        }
                        & :hover{
                            border-bottom: solid 18px $color-border;}
                    }
                    h3 {
                        width: 80%;
                        color: black;
                        font-family: "letter-tittles";
                        margin: 10px auto;
                    }
                }
            }
            p{
                width: 80%;
                color: black;
                font-family: "letter-parraf";
                font-size: 1rem;
                margin: 20px auto;
            }
        }
    }
}
@media screen and (min-width:500px){
    .kkk{
        .gridi{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
            "onekid twokid"
            "threekid fourkid";
        }
        .onekid{
            grid-area: "onekid";
        }
        .twokid{
            grid-area: "twokid";
        }
        .threekid{
            grid-area: "threekid";
        }   
        .fourkid{
            grid-area: "fourkid";
        }
    }
}
@media screen and (min-width:800px){
    .kkk{
        .gridi{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: 
            "onekid twokid threekid fourkid";
        }
        .onekid{
            grid-area: "onekid";
        }
        .twokid{
            grid-area: "twokid";
        }
        .threekid{
            grid-area: "threekid";
        }   
        .fourkid{
            grid-area: "fourkid";
        }
    }
}
/*t-body-chicos*/
/*c-body-padres*/
.quien{
    width: 90%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    border: 3px solid $color-border;
    .hhh{
        text-align: center;
        h2{
            color: $color-border;
            font-family: "letter-tittles";
            font-size: 3rem;
        }
    }
    .qadult{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 50px auto;
        padding: 20px auto;
        .qimgadult{
            width: 45%;
            margin: 10px auto;
            padding: 5px auto;
            img{
                width: 100%;
                border-radius: 50%;
                margin: 50px auto;
            }
        }
        .qparr{
            width: 100%;
            text-align: justify;
            color: $color-border;
            font-family: "letter-parraf";
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 10px auto;
            padding: 5px auto;
            p{
                width: 80%;
                font-size: small;
                display: flex;
                flex-direction: row;
                justify-items: center;
                margin: 50px auto;
                padding: 50px auto;
            }
        }
    }
}
.mainadult{
    width: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    padding: 20px auto;
    border-radius: 60px;
    .titmadult{
        h2{
            text-align: center;
            color: black;
            font-family: "letter-tittles";
            font-size: 3rem;
            margin: 50px auto;
            padding: 20px auto;
        }
    }
    .benef{
        .adult{
            width: 80%;
            background-color: white;
            display: flex;
            flex-direction: column;
            margin: 50px auto;
            padding: 20px auto;
            border: black 1px solid;
            border-radius: 60px;
            .imgadult{
                width: 90%;
                margin: 50px auto;
                padding: 20px auto;
                text-align: center;
                img{
                    width: 70%;
                    border-radius: 50%;
                    border: solid 6px $color-border;
                }
            }
            .parr{
                width: 90%;
                margin: 50px auto;
                padding: 20px auto;
                border-top: solid black 1px;
                p{
                    font-family: "letter-parraf";
                    font-size: large;
                    text-align: center;
                    margin: 50px auto;
                    padding: 20px auto;
                } 
            } 
        } 
    } 
}
/*tablet*/
@media screen and (min-width:800px){
    .mainadult{
        .benef{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
            "ta te"
            "ti to";
        }
        .ta{
            grid-area: "ta";
        }
        .te{
            grid-area: "te";
        }
        .ti{
            grid-area: "ti";
        }
        .to{
            grid-area: "to";
        }
    }
    .quien{
        .qadult{
            .qparr{
                p{
                    width: 80%;
                    font-size:xx-large;
                    display: flex;
                    flex-direction: row;
                    justify-items: center;
                    margin: 50px auto;
                    padding: 50px auto;
                }
            }
        }
    }
    
}

/*t-body-padres*/
/*c-body-contacto*/
.mainis{
    width: 90%;
    margin: 20px auto;
    border-radius: 60px;
    border: black 1px solid;
    display: flex;
    flex-direction: column;
    background-color: $color-letter;
    .ccc{
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        padding: 20px auto;
        h2{
            width: 70%;
            color: $color-border;
            font-family: "letter-tittles";
            height: 25%;
            padding: 20px auto;
            margin: 20px auto;
            text-align: center;
        }
        ul{
            display: flex;
            flex-direction: column;
            height: 75%;
            .lili{
                height: 25%;
                p{
                    width: 70%;
                    margin: 20px auto;
                    font-family: "letter-parraf";
                    color: black;
                }
            }
        }
    }
    .imgcont{
        width: 90%;
        margin: 20px auto;
        img{
            width: 100%;
        }
    }

}
@media screen and (min-width:800px){
    .mainis{
        display: flex;
        flex-direction: row;
        .ccc{
            width: 45%;
            h2{
                width: 70%;
            }
        }
        .imgcont{
            width: 45%;
            margin: 20px auto;
            img{
                width: 100%;
            }
        }
    
    }   
}
/*t-body-contacto*/
/*c-tareas*/
.asig{
    width: 90%;
    background-color: $color-letter;
    border-radius: 60px;
    margin: 20px auto;
    padding: 40px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 4fr;
    grid-template-areas: "h3t"
    "video"
    "problema";
    .h3t{
        height: 80%;
        font-family: "letter-tittles";
        text-align: center;
        color: black;
        margin: 20px auto;
        grid-area: "h3t";
    }
    .video{
        height: 100%;
        grid-area: "video";
        width: 85%;
        margin: 20px auto;
        display: flex;
        justify-content: center;
        iframe{
            width: 95%;
            margin: 20px auto;
            border: 4px $color-border;
            border-radius: 60px;
        }
    }
    .problema{
        height: 80%;
        grid-area: "problema";
        width: 85%;
        border-radius: 60px;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $color-border;
        h3{
            width: 80%;
            text-align: center;
            font-family: "letter-tittles";
            color: black;
            margin: 20px auto;
        }
        p{
            width: 80%;
            color: black;
            text-align: center;
            font-family: "letter-parraf";
            margin: 20px auto;
        }
    }
}
/*t-tareas*/
/*c-nosotros*/
.mayor{
    width: 90%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "mensual anual";
    .mensual{
        grid-area: "mensual";
        background-color: $color-letter;
        border-radius: 60px;
        width: 90%;
        margin: 60px auto;
        h2{
            width: 80%;
            font-family: "letter-tittles";
            background-color: $color-border;
            color: black;
            text-align: center;
        }
        p{
            width: 80%;
            font-family: "letter-parraf";
            color: black;
            display: flex;
            justify-content: space-evenly;
        }

    }
    .anual{
        grid-area: "anual";
        background-color: $color-letter;
        border-radius: 60px;
        width: 90%;
        margin: 60px auto;
        h2{
            width: 80%;
            font-family: "letter-tittles";
            background-color: $color-border;
            color: black;
            text-align: center;
        }
        p{
            width: 80%;
            font-family: "letter-parraf";
            color: black;
            display: flex;
            justify-content: space-evenly;
        }

    }
}
/*t-nosotros*/