* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*c-variables*/
@font-face {
    font-family: "letter-tittles";
    src: url(../assets/fonts/MontserratAlternates-ExtraBold.ttf);
}
$color-letter: white;
$color-border: rgb(193, 251, 21);
$color-bg: rgb(23, 23, 64);
$width-icons: 80%;
/*t-variables*/

@import "_mobile";
@import "_tablet";
@import "_destok";